// Image
// ==========================================================================

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; bottom: 0; 
	left: 0; right: 0;
}
.bg-bottom { background-position: bottom; }

//Servicios
#section-servicios .bg-image {
	padding-bottom: 90%;
	@media #{$sm-and-down}{ padding-bottom: 120px; }
}
#section-logros .bg-image {
	width: 120px;
	padding-bottom: 55%;
	margin: auto;
	@media #{$sm-and-down}{ padding-bottom: 120px; }
}

//Cuenta
.bg-user {
	width: 70px;
	height: 70px;
	margin: 0 auto 0;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}