
.modal {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	//background-color: rgba(70, 64, 64, 0.62);
	z-index: 1200;
	transition: .5s ease-out;
	//&.active { //display: block; }
	.exit-modal, .fondo-modal {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(70, 64, 64, 0.62);
	}
	.modal-content {
		position: relative;
		width: 80vw;
		//height: 90vh;
		max-width: 600px;
		margin: 5vh auto 0;		
		background-color: $light-color;
		border-radius: 20px;
		@media #{$sm-and-down}{
			width: 100vw;
			height: 100vh;
			margin: 0 auto 0;	
			//overflow-y: scroll;
			border-radius: 0px;
		}
		.close-modal, .redirect-home {
			position: absolute;
			right: 7px;
			top: 7px;
			width: 40px;
			color: $primary-color;
			text-align: center;
			font-size: 30px;
			font-weight: 600;
			line-height: 40px;
			z-index: 2;
			cursor: pointer;
		}
		.bg-image:not(.bg-logo-modal) {
			height: 200px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			overflow: hidden;
			&.bg-image-large { height: 300px; }
			&.bg-image-logo {
				width: 100%;
				height: 40px;
			}
			@media #{$sm-and-down} {
				border-radius: 0px;
			}
		}
		.bg-logo-modal {
			width: 300px;
			height: 95px;
			background-size: contain;
			margin: auto;
		}		
		.modal-body {
			padding: 30px;
			overflow-y: auto;
		    overflow-x: hidden;
		    @media #{$medium-and-up} {
		    	max-height: calc(90vh - 200px);
			}
		    &.modal-body-short {
		    	height: calc(90vh - 300px);
		    }
		    @media #{$sm-and-down} {
				height: calc(100vh - 200px)!important;
				&.modal-body-short {
			    	height: calc(100vh - 300px);
			    }
			}
			label { font-size: 12px; }
			textarea { 
				height: 65px;
				line-height: 20px;
			}
			h2, h3, h4 {
				text-align: center;
				text-transform: capitalize;
				font-weight: 600;
			}
			.btn {
				float: right;
				margin-top: 20px;
			}
		}
	}
	&#modal-ingresa, &#modal-rcontrasena {
		.modal-content {
			
			max-height: 80vh;
			height: inherit;
			margin: 10vh auto 0;
			@media #{$medium-and-up} { max-width: 450px; }
			@media #{$sm-and-down} { 
				padding-top: 30px;
				max-height: 100vh;
			    height: 100vh;
			    margin: 0px;
			}
			.modal-body {
				height: inherit;
				#loginform {
					position: relative;
					margin-bottom: 20px;
					.login-remember {
						display: none;
					}
					.login-submit .button{ 
						width: 100%;
						margin-top: 20px;
					}				
				}		
			}			
		}
	}
	&#modal-registrate {
		.modal-content {
			max-width: 1000px;
			.col:first-child {
				.bg-register { height: inherit; }
				.relative { padding: 40px; }
			}	
		}
		@media #{$large-and-up} {
			.modal-content {
				width: 80%;
				.col:first-child {					
					.bg-register {
						border-top-right-radius: 0px;
						border-bottom-left-radius: 20px;
					}
					.bg-degrade-primary {
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
					}
					.relative { 
						height: 90vh; 
						.bg-logo-modal {
							position: absolute;
							bottom: 15px;
						}
					}						
				}
				.modal-body {
					height: 90vh;
					min-height: 90vh;
					padding: 50px;
				}
			}
		}
		@media #{$medium-only} {
			.modal-content {
				max-width: 450px;
				.bg-degrade-primary {
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
				}					
			}		
		}
		@media #{$medium-and-down} {
			.modal-content {
				.col:first-child {
					.relative { 
						height: 200px;
						h2 { margin: 0px; }
					}						
				}
				.col:nth-child(2){
					padding: 0px;
					.close-modal { color: $light-color; }	
				}
			}
		}
		@media #{$sm-and-down} {
			.modal-content {
				width: 100%;
			}
		}
	}
	&.modal-vacante {
		.modal-content {
			max-width: 700px;
			.modal-body {
				p {
					margin-bottom: 5px;
					&.no-margin-bottom { margin-bottom: 0px; }
					span:first-child {
						display: inline-block;
						width: 120px;
						color: $primary-color;
						font-weight: 600;
						@media #{$small-and-down}{ &:not(.margin-right-xxsmall){ display: block; }}
					}
					span:nth-child(2){
						@media #{$sm-and-up}{
							position: relative;
						    top: -20px;
						    margin-bottom: -20px;
						    padding-left: 120px;
						    display: -webkit-box;
						}
					}
				}			
			}			
		}
	}
	&#modal-userCuenta {		
		.modal-content {
			max-width: 450px;
			height: inherit;
			.bg-image {
				height: 250px;				
			}
			.modal-header {
				.content-center {
					padding: 0 20px; 
					h2, h3 {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}					
				}
				.open-modal.link-editar, .user-logout {
					position: absolute;
					bottom: 10px;
					right: 40px;
					color: #fff;
					font-weight: 500;
					font-size: 16px;
					cursor: pointer;
					&:hover { text-decoration: underline; }
				}
				.user-logout {
					right: inherit;
					left: 40px;
				}
			}			
			.modal-body {
				padding-top: 50px;
				height: inherit;
				text-align: center;
			}		
		}
	}
}